.setting-item {
  /* ドラッグによる文字選択禁止 */
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  font-size: 2rem;
}

.item-name {
  /* ドラッグによる文字選択禁止 */
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  font-size: 1rem;
}

[data-screen="setting"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.volume-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.volume-control input[type="range"] {
  width: 50%;
}

.returnButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aqua;
  border: none;
  cursor: pointer; /* カーソルを変更 */
  transition:
    background-color 0.3s ease,
    transform 0.3s ease; /* トランジションを追加 */
}

[data-screen="setting"] .returnButton:hover {
  background-color: darkcyan;
  transform: scale(1.1); /* 拡大して視覚的なフィードバックを提供 */
}
