body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100dvh;
  background-image: url(../images/background-image.png);
  background-size: cover;
  background-position: center;
}

[data-screen="setting"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.volume-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.volume-control input[type="range"] {
  width: 50%;
}
