body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100dvh;
  background-image: url(../images/background-image.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 50px;
}
[data-screen="title"] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 500;
  margin: auto;
}

button {
  color: #fff;
  background-color: brown;
  border-radius: 0%;
  font-size: 1.6rem;
  border: none;
  width: 500px;
}

.sound-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aqua;
  border: none;
}

.sound-button img {
  display: block;
  /* 画像の周囲の余白を削除 */
  width: 100%;
  /* 画像の幅をボタンに合わせる */
  height: auto;
  /* 画像の高さを自動調整 */
}

.sound-button-on {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aqua;
  border: none;
}

.sound-button-on img {
  display: block;
  /* 画像の周囲の余白を削除 */
  width: 100%;
  /* 画像の幅をボタンに合わせる */
  height: auto;
  /* 画像の高さを自動調整 */
}
