[data-screen="title"] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

[data-screen="title"] .button-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
}

[data-screen="title"] button {
  color: #fff;
  background-color: brown;
  border-radius: 15px; /* 固定値に変更 */
  font-size: 1.6rem;
  height: 70px;
  border: none;
  width: 450px;
  cursor: pointer; /* カーソルを変更 */
  transition:
    background-color 0.3s ease,
    transform 0.3s ease; /* トランジションを追加 */
  box-sizing: border-box; /* ボックスモデルを統一 */
}

[data-screen="title"] button:hover {
  background-color: darkred;
  transform: scale(1.05); /* 拡大して視覚的なフィードバックを提供 */
}
